body{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
}

main {
  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > section {
      background-color: white;
      padding: 25px;
      width: 45%;
      margin: 2.5%;
      height: 45%;
    }
  }
}